.payment-show-qr-section {
  padding: 15px 15px;
  width: 100%;
}

.payment-show-box {
  border: 1px;
  border-color: #dddce2;
  border-style: solid;
}

.payment-show-share,
.MuiGrid-root.payment-show-share{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.payment-show-date {
  padding-top: 10px;
}

div.qrContainerTpp {
  padding-left: 3px;
}

div.MuiGrid-root.box-label-right {
  padding-right: 20px;
}

div.payment-show-url.MuiGrid-root.MuiGrid-item{
  margin: 0;
}