.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import "./scss/variables";
@import "./scss/helpers";
@import "./scss/commons";
@import "./scss/bootomNav";
@import "./scss/balanceComponent";
@import "./scss/appMenuBar";
@import "./scss/publicHeaderMenu";
@import "./scss/landing";
@import "./scss/use_case_remittance";
@import "./scss/voucher";
@import "./scss/footer";
@import "./scss/legals";
@import "./scss/carousel";
@import "./scss/appSnackbar";
@import "./scss/faqs";
@import "./scss/publicExternalPayment";
@import "./scss/genericlanding";
@import "./scss/calculator";
@import "./scss/bulletListItem";
@import "./scss/productBox";
@import "./scss/commentListBox";
@import "./scss/remittance";
@import "./scss/join_telegram";
@import "./scss/addFundView";